body{
	padding-bottom: 50px;
	margin: 25px;
	background-image: url(../gifs/youare.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.text{
	width: 200px;
	padding: 10px ;
	border: 5px dotted white;
	margin: 0; 
	text-align: center;
	font-family: Courier, monospace;
	font-size: 35;
	color: white;
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
}
.music{
	width: 200px;
	padding: 10px ;
	margin: 0; 
	text-align: center;
	font-family: Courier, monospace;
	font-size: 25;
	color: white;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;