@font-face {
  font-family: "MatrixFont";
  src: url("../fonts/OCRAEXT.TTF");
}

body {
  background-color: black;
}

.typewriter {
  position: absolute;
  color: #008F11;
  width: 58%;
  top: 45%;
  left: 19%;
  font-size: 4em;
  font-family: MatrixFont;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .6em solid green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(10, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width:58% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #008F11 }
}
